:root {
  --side-margin: 5%;
  --animation-timing: 400ms ease-in-out;

  @media (max-width: 830px) {
    & {
      --side-margin: 25px;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--dark-grey);
  padding: 8px 0;
  height: 85px;
  z-index: 1;

  & img {
    height: 64px;
    margin-left: var(--side-margin);
  }

  /* Hamburger Menu */
  & > label {
    --background-color: var(--grey);
    --bar-width: 60px;
    --bar-height: 6px;
    --hamburger-gap: 8px;

    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
    margin-right: var(--side-margin);

    &:hover {
      --background-color: var(--light-grey);
    }

    &::before,
    & > span,
    &::after {
      content: "";
      width: var(--bar-width);
      height: var(--bar-height);
      background-color: var(--background-color);
      border-radius: 271828px;
      transform-origin: left center;
      transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }

    &.active {
      --background-color: white;

      & > span {
        opacity: 0;
        width: 0;
      }

      &::before {
        rotate: 45deg;
        translate: 0 calc(var(--bar-height) / -2);
      }

      &::after {
        rotate: -45deg;
        translate: 0 calc(var(--bar-height) / 2);
      }

      &::before,
      &::after {
        width: calc(
          calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2) * 1.41421356237
        );
      }

      & + ul {
        translate: 0 0;
      }
    }

    @media (max-width: 1180px) {
      & {
        display: flex;
      }
    }
  }

  /* Navbar Links */
  & > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: var(--side-margin);
    z-index: -1;

    & > li {
      margin-bottom: 0;
      padding: 8px;
    }

    & a {
      display: block;
      text-decoration: none;
      transition: var(--animation-timing);
      color: var(--grey);
    }

    & a:hover {
      color: var(--light-grey);
    }

    & a.active {
      color: white;
    }

    @media (max-width: 1180px) {
      & {
        flex-direction: column;
        align-items: center;
        transition: translate var(--animation-timing);
        translate: 0 -320px;
        background-color: var(--dark-grey);
        margin: 0;
        width: 100%;
        padding: 0 0 16px 0;
      }

      &.initial {
        display: none;
      }
    }
  }
}

main {
  margin: 110px var(--side-margin) 90px var(--side-margin);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 24px;
  color: white;
  background-color: var(--dark-grey);
  height: 65px;
  z-index: 1;
}
