input,
select,
textarea {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  width: 375px;
}

textarea {
  height: 141px;
  resize: none;
}

table {
  width: 100%;
}

td:first-child {
  width: 175px;
}

#form-buttons {
  text-align: center;
}

dialog {
  border: 3px solid var(--dark-grey);
  border-radius: 10px;
}

@media (max-width: 830px) {
  input[type="submit"],
  input[type="reset"] {
    width: 100%;
  }

  #form-buttons {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  background: white;
  border: 1px solid black;
  z-index: 1;
}

.modal-overlay.show {
  display: block;
}

.modal-overlay {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}
