.input-group-subtitle {
  margin-top: 0;
}

.input-group-fields:has(> *:nth-child(2)) {
  display: grid;
  grid-row-gap: 4px;
  grid-template-columns: 100px auto;
}

label.error {
  color: hsl(345, 100%, 40%);
}

.input {
  width: 100%;
  max-width: 100%;
  height: 25px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  scroll-margin: 112px;
  outline: none;
  background-color: white;
}

.input:focus {
  box-shadow: 0 0 3px 0 var(--dark-grey);
}

.input.error {
  border: 1px solid hsl(345, 100%, 40%);
}

.input.error:focus {
  box-shadow: 0 0 3px 0 var(--dark-grey);
}

.textarea {
  height: 141px;
  resize: none;
}

.error-popup {
  background-color: hsl(0, 80%, 94%);
  border: 1px solid hsl(358, 100%, 70%);
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: hsl(345, 100%, 40%);
  font-weight: bold;
  padding: 7px 11px 4px;
  margin-top: 8px;
  position: absolute;
}

.error-popup::before,
.error-popup::after {
  content: "";
  border: 7px solid transparent;
  position: absolute;
  left: 11px;
}

.error-popup::before {
  border-bottom: 7px solid hsl(358, 100%, 70%);
  top: -14px;
}

.error-popup::after {
  border-bottom: 7px solid hsl(0, 80%, 94%);
  top: -13px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 16px;
}

.form-buttons > input {
  max-width: 370px;
  width: 100%;
}

.btn {
  font-family: inherit;
  outline: none;
  cursor: pointer;
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.btn:hover {
  background-color: hsl(0, 0%, 75%);
}

.btn:focus {
  outline: 1px solid hsl(0, 0%, 15%);
}

.btn:active {
  background-color: hsl(0, 0%, 70%);
}

.btn[disabled] {
  background-color: hsl(0, 0%, 85%);
  cursor: not-allowed;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal > div {
  position: fixed;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 16px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
}
