.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

@media (max-width: 800px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input {
  display: flex;
  align-items: center;
}

.form-input > div {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

.form-input > label {
  width: 5rem;
}

.form-input > label.error {
  color: var(--danger-foreground);
}

.select {
  border: 1px solid #999;
  border-radius: 0.3em;
}

.select.select-focused {
  border: 1px solid #0af;
  box-shadow: 0 0 5px 0 #0af;
}

.select.error {
  border: 1px solid var(--danger-foreground);
}

.select.error.select-focused {
  box-shadow: 0 0 5px 0 var(--danger-foreground);
}

.select-control {
  margin: 0 0.5rem;
}

.select-separator {
  background-color: #999;
  margin: 0.5rem;
}

.select-dropdown-indicator,
.select-clear-indicator {
  cursor: pointer;
}

.select-multi-value {
  background-color: #ddd;
  margin: 0.5rem;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.select-multi-value-remove {
  padding-left: 0.5rem;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

.select-multi-value-remove:hover,
.select-clear-indicator:hover {
  color: var(--danger-foreground);
}

.select-menu {
  border: 1px solid #999;
  border-radius: 0.3em;
  background-color: white;
  margin: 0.3rem 0;
  padding: 0.3em 0;
}

.select-option {
  width: 100%;
  padding: 0.5rem;
}

.select-option.select-option-focused {
  background-color: #beefff;
}

.select-option.select-option-selected {
  background-color: #8dd9ff;
}

.input {
  width: 100%;
  border: 1px solid #999;
  border-radius: 0.3em;
  outline: none;
  background-color: white;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
}

.input:focus {
  box-shadow: 0 0 5px 0 #0af;
  border-color: #0af;
}

.input.error {
  border: 1px solid var(--danger-foreground);
}

.input.error:focus {
  box-shadow: 0 0 5px 0 var(--danger-foreground);
}

.textarea {
  flex-grow: 1;
  resize: none;
  min-height: 10em;
}

.error-popup {
  background-color: var(--danger-background);
  border: 1px solid var(--danger-foreground);
  border-radius: 7px;
  color: var(--danger-foreground);
  font-weight: bold;
  padding: 7px 11px 4px;
  position: absolute;
  top: calc(100% + 0.5rem);
  z-index: 1;
}

.error-popup::before,
.error-popup::after {
  content: "";
  border: 7px solid transparent;
  position: absolute;
  left: 11px;
}

.error-popup::before {
  border-bottom: 7px solid var(--danger-foreground);
  top: -14px;
}

.error-popup::after {
  border-bottom: 7px solid var(--danger-background);
  top: -13px;
}

.form-btn-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.form-btn-group > button {
  max-width: 370px;
  width: 100%;
}

.btn {
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #666;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  transition: background-color 100ms;
}

.btn:hover {
  background-color: #bbb;
  box-shadow: 0 0 5px 0 #666;
}

.btn:focus {
  box-shadow: 0 0 5px 0 #333;
}

.btn:active {
  background-color: #aaa;
  box-shadow: 0 0 5px 0 black;
}

.btn[disabled] {
  background-color: #ddd;
  cursor: not-allowed;
}

.btn.btn-submitting::after {
  content: "";
  position: absolute;
  animation: loading-ellipsis 1200ms infinite linear alternate;
}

@keyframes loading-ellipsis {
  25% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.modal > div {
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  border: 2px solid black;
  text-align: center;
}
