:root {
  --dark-grey: hsl(210, 11%, 15%);
  --grey: hsl(0, 0%, 55%);
  --light-grey: hsl(0, 0%, 80%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: sans-serif;
}

a {
  color: #0d6dfd;
  text-decoration: none;
}

a:hover {
  color: #0a58cd;
}

li {
  margin-bottom: 8px;
}

ul {
  padding-left: 30px;
}

.image-container {
  position: relative;
  width: 100%;
  outline: 2px solid var(--dark-grey);
  background-size: cover;
  background-position: center;
  animation: pulse 1500ms infinite ease-in-out alternate;
  background-color: #888;
}

@keyframes pulse {
  from {
    background-color: #888;
  }
  to {
    background-color: #666;
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.staff-grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 830px) {
  .staff-grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 830px) {
  .grid-container,
  .staff-grid-container {
    grid-template-columns: 1fr;
  }
}
