:root {
  --dark-grey: hsl(210, 11%, 15%);
  --grey: hsl(0, 0%, 55%);
  --light-grey: hsl(0, 0%, 80%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: hsl(216, 98%, 52%);
  text-decoration: none;

  &:hover {
    color: hsl(216, 91%, 42%);
  }
}

li {
  margin-bottom: 8px;
}

ul {
  padding-left: 30px;
}

.image-container {
  position: relative;
  width: 100%;
  outline: 2px solid var(--dark-grey);
  background-size: cover;
  background-position: center;
  background-fit: cover;
  animation: pulse 3s infinite ease-in-out;
  background-color: hsl(0, 0%, 50%);
}

@keyframes pulse {
  0% {
    background-color: hsl(0, 0%, 45%);
  }

  50% {
    background-color: hsl(0, 0%, 65%);
  }

  100% {
    background-color: hsl(0, 0%, 45%);
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;

  @media (max-width: 830px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}

.staff-grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1150px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 830px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
