:root {
  --side-margin: 5vw;
  --navbar-height: 5.5rem;
  --footer-height: 3rem;
}

.navbar {
  --link-color: #999;
  --link-hover-color: #ccc;
  --link-active-color: white;
  --animation-timing: 300ms ease-in-out;

  background-color: var(--foreground);
  height: var(--navbar-height);
  max-height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--side-margin) 0 var(--side-margin);
  z-index: 3;
}

.navbar > a {
  outline-offset: -6px;
}

.logo-container {
  position: relative;
  max-width: 190px;
  width: calc(100vw - 150px);
  height: 85px;
  z-index: 2;
}

.logo-container img {
  object-fit: contain;
}

.hamburger-menu {
  --bar-width: 60px;
  --bar-height: 6px;
  --bar-gap: 8px;
  --hamburger-margin: 8px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  --hamburger-color: var(--link-color);

  display: none;
  flex-direction: column;
  gap: var(--bar-gap);
  width: max-content;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:hover {
  --hamburger-color: var(--link-hover-color);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu::before,
.hamburger-menu input,
.hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--hamburger-color);
  border-radius: 2718px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color 100ms ease-in-out;
}

.hamburger-menu:has(input:checked) {
  --hamburger-color: var(--link-active-color);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu input:focus-visible,
.hamburger-menu:has(input:focus-visible)::after {
  border: 2px solid var(--foreground);
  box-shadow: 0 0 0 1px white;
}

.navbar-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  background-color: var(--foreground);
  translate: 0 calc(-100% - 5rem);
  transform: translateY(calc(100% + 5rem));
}

.navbar-links a {
  text-decoration: none;
  transition: color 100ms ease-in-out;
  color: var(--link-color);
}

.navbar-links a:hover {
  color: var(--link-hover-color);
}

.navbar-links a.active {
  color: var(--link-active-color);
}

@media (max-width: 1130px) {
  .logo-container {
    margin-top: 2px;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu:has(input:checked) + .navbar-links {
    translate: 0;
  }

  .hamburger-menu:has(input:not(:checked)) + .navbar-links {
    animation: hide var(--animation-timing) forwards;
  }

  .navbar-links {
    flex-direction: column;
    width: 100vw;
    margin: -0.5rem calc(var(--side-margin) * -1);
    padding: 1rem 0;
    transform: none;
    transition: translate var(--animation-timing);
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}

.scroll-container {
  margin-top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 1rem var(--side-margin);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1.5rem;
  color: white;
  background-color: var(--foreground);
  height: 3rem;
}

@media (max-width: 800px) {
  :root {
    --side-margin: 1.5rem;
  }
}

@media (max-width: 400px) {
  :root {
    --side-margin: 1rem;
    --footer-height: 4rem;
  }

  .footer {
    flex-direction: column;
    gap: 0.5rem;
    height: 4rem;
  }
}
