<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advantage Auto</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    </head>
    <body>
        <nav>
            <div id="navbar">
                <div id="navbar-elements">
                    <div id="brand-title">
                        <a href="#">Advantage Auto</a>
                    </div>
                    <div id="toggle-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="navbar-links">
                    <ul>
                        <li>
                            <a href="#" {% if active == 'who_are_we' %}class="active"{% endif %}>Who are we?</a>
                        </li>
                        <li>
                            <a href="#" {% if active == 'about' %}class="active"{% endif %}>Staff</a>
                        </li>
                        <li>
                            <a href="#" {% if active == 'contact' %}class="active"{% endif %}>Services Offered</a>
                        </li>
                        <li>
                            <a href="#" {% if active == 'contact' %}class="active"{% endif %}>Buying a used car?</a>
                        </li>
                        <li>
                            <a href="#" {% if active == 'contact' %}class="active"{% endif %}>Vehicles we don't recommend buying</a>
                        </li>
                        <li>
                            <a href="#" {% if active == 'contact' %}class="active"{% endif %}>Online appointment request</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <footer>
            <p>&copy; Advantage Auto</p>
            <p>All rights reserved.</p>
        </footer>
    </body>
</html>
