:root {
  --dark-grey: hsl(210, 11%, 15%);
  --grey: hsl(0, 0%, 55%);
  --light-grey: hsl(0, 0%, 85%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

a {
  color: hsl(216, 98%, 52%);
  text-decoration: none;

  &:hover {
    color: hsl(216, 91%, 42%);
  }
}

li {
  margin-bottom: 8px;
}

.photo {
  width: 100%;
  border: 2px solid var(--dark-grey);
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 830px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}

.grid-container-4 {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1180px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 830px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
